# Feux de forêt

Projet Python de 2A à l'ENSAE portant sur l'étude des feux de forêt en France.

In [21]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd

In [23]:
df_meteo = pd.read_csv("test.txt", sep=';')
df_meteo

,numer_sta,date,pmer,tend,cod_tend,dd,ff,t,td,u,...,nnuage2,ctype2,hnuage2,nnuage3,ctype3,hnuage3,nnuage4,ctype4,hnuage4,Unnamed: 59
0,7005,20000101000000,102280,0,0,200,2.000000,279.350000,277.850000,90,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
1,7015,20000101000000,102230,-10,8,190,2.000000,278.750000,278.750000,100,...,7,6,540,mq,mq,mq,mq,mq,mq,NaN
2,7020,20000101000000,102300,80,3,270,6.100000,283.650000,282.750000,94,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
3,7027,20000101000000,102370,60,1,260,5.100000,281.850000,281.450000,97,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
4,7037,20000101000000,102370,40,0,200,3.000000,279.250000,278.350000,94,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13544,78894,20000131210000,101890,0,5,mq,mq,296.950000,mq,mq,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
13545,78897,20000131210000,101790,-10,5,90,4.100000,298.850000,293.150000,71,...,3,0,9000,mq,mq,mq,mq,mq,mq,NaN
13546,78925,20000131210000,101700,10,3,90,7.200000,299.540000,292.450000,65,...,6,0,9000,mq,mq,mq,mq,mq,mq,NaN
13547,81405,20000131210000,101300,mq,mq,60,4.100000,298.350000,296.750000,91,...,4,6,840,5,3,3300,mq,mq,mq,NaN
13548,89642,20000131210000,100220,190,3,180,9.700000,265.150000,254.250000,37,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN